{% load static %}
{% load crispy_forms_tags %}  

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>KeeVault</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static 'assets/css/pass_reset.css' %}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 </head>
 
 <body>
    <div class="container padding-bottom-3x mb-2 mt-5">
       <div class="row justify-content-center" style="display: flex;justify-content: center;">
          <div class="col-lg-8 col-md-10">
             <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                   <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                   <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                   <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                </ol>
             </div>
             <form class="card mt-4" method="POST">
                <div class="card-body">
                   <div class="form-group">
                      <br>
                      {% csrf_token %}
                      {{ password_reset_form|crispy }} <small class="form-text text-muted">Enter the email address you used during the registration on KeeVault. Then we'll email a link to this address.</small>
                   </div>
                </div>
                <div class="card-footer">
                   <button class="btn btn-primary" type="submit">Get New Password</button>
                   <button class="btn btn-danger" style="float: right;"><a id = "GFG" style="color: white" href="{%url 'log_in'%}">Back to Login</a></button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </body>
 