{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FlexStart Bootstrap Template - Index</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/reg_style.css' %}" rel="stylesheet">
</head>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
  {% include "website/includes/navbar.html"%}
  <br>
  <div class="container" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000" >
    <div class="container" >
      <div class="row" >
        <div class="col-6 col-md-4 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5" >
              <h5 class="card-title text-center mb-5 fw-light fs-5">REGISTER</h5>
              <form method="POST">
                {% csrf_token %}
  
                <div class="col-lg-12 mb-4">
                      <div class="form-floating mb-3">
                        {{ form.username }}
                        <label class="form-label control-label text-muted" for="id_username" required autofocus>Username</label>
                      </div>
                </div>
                <div class="col-lg-12 mb-4">
                      <div class="form-floating mb-3">
                        {{ form.email }}
                        <label class="form-label control-label text-muted" for="id_email">Email</label>
                      </div>
                </div>
  
                <div class="col-lg-12 mb-4">
                      <div class="form-floating mb-3">
                        {{ form.password1 }}
                        <label class="form-label control-label text-muted" for="id_password1">{{ form.password1.label }}</label>
                      </div>
                </div>
                <div class="col-lg-12 mb-4">
                      <div class="form-floating mb-3">
                        {{ form.password2 }}
                        <label class="form-label control-label text-muted" for="id_password2">{{ form.password2.label }}</label>
                      </div>
                </div>
  
                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
                </div>
  
                <a class="d-block text-center mt-2 small" href="{%url 'login'%}">Have an account? Sign In</a>
  
                <hr class="my-4">
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %} 
                      <div class="alert alert-danger" role="alert">
                       <p style="font-family: Arial, Helvetica, sans-serif">{{ error|escape }}</p>
                      </div>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script> AOS.init(); </script>
  </body>
  
</html>