{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeeVault</title>
    <link rel="stylesheet" href="{% static 'assets/css/gen_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
</head>

<body class="body">
    <div class="main">
        <div class="pt-5 pb-5 text-center">
            <span class="h1 head">Password Generator</span>
        </div>
        <div class= "items pb-5">
          <form method="POST">
            {% csrf_token%}
              <div class="row">
                <div class="col-7 col-md-6">
                  <label class="len">Enter length of password: </label>
                </div>
                        
                 <div class="col-5 col-md-6">
                     <input type="number" class="num" name="length" id="length" value={{length}}>
                  </div>    
              </div>

              <div class="row mt-5">
                <div class="col-md-6">
                    <label class="len"> Select contents for password : </label>
                 </div>

                 <div class="col-md-6 opt">
                          {% if 'u' in selected %}
                            <label for="1"> <input type="checkbox" id="1" name="uppercase" value=1 checked>Uppercase</label>  &nbsp;&nbsp;
                          {% else %}
                            <label for="1"> <input type="checkbox" id="1" name="uppercase" value=1>Uppercase</label>  &nbsp;&nbsp;
                          {% endif %}
                           {% comment %} <label class="form-check-label">UpperCase</label> {% endcomment %}
                           <br><br>
                          {% if 'n' in selected %}
                            <label for="2"> <input type="checkbox" id="2" name="numbers" value=2 checked>Numbers</label> &nbsp;&nbsp;
                          {% else %}
                            <label for="2"> <input type="checkbox" id="2" name="numbers" value=2>Numbers</label> &nbsp;&nbsp;
                          {% endif %}
                           {% comment %} <label class="form-check-label">Numbers</label> {% endcomment %}
                           <br><br>
                          {% if 's' in selected %}
                            <label for="3"> <input type="checkbox" id="3" name="special" value=3 checked>Special Characters</label>
                          {% else %}
                            <label for="3"> <input type="checkbox" id="3" name="special" value=3>Special Characters</label>
                          {% endif %}
                           {% comment %} <label class="form-check-label">Special</label> {% endcomment %}
                               
                  </div>
             </div>


               <div class="row mt-5">
                 <div class="col-md-6">
                            <button type="submit" class="but" id="genz"><span class="ps-4 pe-4 button-text"> Generate password </span></button> 
                 </div>
                        
                 <div class="col-md-6">
                             {% if password %}
                               <input type="text" class="pass" id="passw" value={{password}}> 
                             {% else %}
                               <input type="text" class="pass" id="passw" placeholder="Generated password will appear here"> 
                             {% endif %}
                             <button type="button" class="cpy" onclick="copyFunction()"><span class=" button-text">Copy</span></button>
                 </div>    
               </div>
  
          </form>
        </div>
     </div>    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      var copyText=document.getElementById("passw");
      function copyFunction() 
      {
        copyText = document.getElementById("passw");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        //alert("Copied the text: " + copyText.value);
      }
    </script>

</body>
</html>